@import "tailwindcss";

:root {
  --background: #030303fc;
  --foreground: #edf0fb;
  --accent-yellow: #f4c430;
  --accent-yellow-soft: #facc6b;
  --accent-love: #f5a3c7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303fc;
    --foreground: #edf0fb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
